body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #ff7e5f, #feb47b); /* Gradiente de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  #titulo {
    font-size: 2em;
    color: white;
  }
  
  #timer {
    font-size: 4em; /* Tamanho maior do timer */
    color: white;
    font-weight: bold;
    position: fixed; /* Fixa o timer na tela */
    top: 20px; /* Distância do topo */
    right: 20px; /* Distância da direita */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para o timer */
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar um efeito de destaque */
  }
  
  .button-container {
    margin-top: 30px;
  }
  
  .btn-fixo {
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-fixo:hover {
    background-color: #45a049;
  }
  