* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #6a11cb, #2575fc); /* Gradiente em tons de roxo e azul */
  text-align: center;
  padding: 20px;
  flex-direction: column;
}

#titulo {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: bold;
}

.btn-fixo {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: linear-gradient(145deg, #ff6b81, #ff4757);
  color: white;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-fixo:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.button-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.mensagem-fracasso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: 24px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#timer {
  font-size: 4em; /* Tamanho maior do timer */
  color: white;
  font-weight: bold;
  position: fixed; /* Fixa o timer na tela */
  top: 20px; /* Distância do topo */
  right: 20px; /* Distância da direita */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para o timer */
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar um efeito de destaque */
}

.button-container {
  margin-top: 30px;
}

.btn-fixo {
  padding: 15px 30px;
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-fixo:hover {
  background-color: #45a049;
}